<a href="https://colab.research.google.com/github/dnsdudrla97/URL_Class_algorithm/blob/master/TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # pands 모듈 : 데이터 프레임 분석 라이브 
from math import log

In [0]:
docs = [
        '먹고 싶은 사고',
        '먹고 싶은 바나나',
        '길고 노란 바나나',
        '저는 과일이 좋아요'
]
word = list(set(w for doc in docs for w in doc.split()))
word.sort()

In [0]:
N = len(docs) # 총 문서의 수 TF, IDF , TF-IDF 값을 구하는 함수 구현

# TF
def tf(t,d):
  return d.count(t)
# IDF
def idf(t):
  df = 0
  for doc in docs:
    df += t in doc
  return log(N/(df + 1))
# TF-IDF
def tfidf(t,d):
  return tf(t,d) * idf(t)

In [10]:
rst = [] # TF를 구한는 리스트 형태로 출력
for i in range(N): # 각 문서에 대해서 아래 명령을 수행
  rst.append([])
  d = docs[i]
  for j in range(len(word)):
    t = word[j]
    rst[-1].append(tf(t,d))
tf_ = pd.DataFrame(rst, columns=word)
tf_

   과일이  길고  노란  먹고  바나나  사고  싶은  저는  좋아요
0    0   0   0   1    0   1   1   0    0
1    0   0   0   1    1   0   1   0    0
2    0   1   1   0    1   0   0   0    0
3    1   0   0   0    0   0   0   1    1

In [11]:
# 각 단어에 대한 IDF 값 계산
rst = []
for j in range(len(word)):
  t = word[j]
  rst.append(idf(t))
idf_ = pd.DataFrame(rst, index = word, columns=["IDF"])
idf_

          IDF
과일이  0.693147
길고   0.693147
노란   0.693147
먹고   0.287682
바나나  0.287682
사고   0.693147
싶은   0.287682
저는   0.693147
좋아요  0.693147

In [12]:
# TF-IDF 값을 생성
rst = []
for i in range(N):
  rst.append([])
  d = docs[i]
  for j in range(len(word)):
    t = word[j]
    rst[-1].append(tfidf(t,d))
tfidf_ = pd.DataFrame(rst, columns=word)
tfidf_

        과일이        길고        노란  ...        싶은        저는       좋아요
0  0.000000  0.000000  0.000000  ...  0.287682  0.000000  0.000000
1  0.000000  0.000000  0.000000  ...  0.287682  0.000000  0.000000
2  0.000000  0.693147  0.693147  ...  0.000000  0.000000  0.000000
3  0.693147  0.000000  0.000000  ...  0.000000  0.693147  0.693147

[4 rows x 9 columns]